services:
  # Service untuk aplikasi Laravel (PHP-FPM)
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stocktrack_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      # Mount source code untuk development
      - ./:/var/www/html
      # Mount untuk cache Composer
      - composer-cache:/root/.composer/cache
    networks:
      - laravel
    env_file:
      - .env
    extra_hosts:
      # Untuk mempercepat koneksi ke host machine (untuk development)
      - "host.docker.internal:host-gateway"

  # Service untuk Node.js (build frontend React)

  node:
    image: node:18-alpine
    user: "${UID}:${GID}"
    container_name: stocktrack_node
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      # Mount source code untuk development
      - ./:/var/www/html
      # Mount untuk cache npm
      - node-cache:/root/.npm
    networks:
      - laravel
    # Command untuk development dengan hot-reload
    command: sh -c "npm install && npm run dev"
    env_file:
      - .env

  # Service untuk web server (Nginx)
  nginx:
    image: nginx:alpine
    container_name: stocktrack_nginx
    restart: unless-stopped
    ports:
      - "8002:80"
    volumes:
      # Mount source code
      - ./:/var/www/html:ro
      # Mount konfigurasi Nginx custom
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/sites/:/etc/nginx/sites-available/
      - ./docker/nginx/sites/:/etc/nginx/sites-enabled/
      # Mount log Nginx
      - nginx-logs:/var/log/nginx
    networks:
      - laravel
    depends_on:
      - app
      - node

# Volume untuk persistensi data
volumes:
  composer-cache:
    driver: local
  # # Volume untuk cache npm
  node-cache:
    driver: local
  # # Volume untuk log Nginx
  nginx-logs:
    driver: local

# Network untuk komunikasi antar container
networks:
  laravel:
    # driver: bridge
    external: true
    name: hotelmanagement_laravel
